<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eaxon.coderhubserver.mapper.UserMapper">
    <update id="update">
        update coder_hub.user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="userLevel != null">user_level = #{userLevel},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 分页查询用户列表 -->
    <select id="pageQuery" resultType="com.eaxon.coderhubpojo.entity.User">
        select * from coder_hub.user
        <where>
            <!-- 固定条件：只查询role为USER的用户 -->
            role = 'USER'
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="userLevel != null">
                and user_level = #{userLevel}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>